.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
  outline: 0;
}

.pagination .page-item {
  button {
    width: 36px;
    height: 36px;
  }
}
.form-small {
  height: calc(1em + 0.9375rem + 0px);
}
.content-components {
  margin-right: 0 !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}